{% extends "core/base.html" %}
{% block title %}index page{% endblock %}
{% block content %}
    <div class="main">
        <div class="p-main"><p>Анали́тик — специалист, занимающийся изучением аналитических исследований и обобщений в определенной сфере деятельности,
            который в совершенстве владеет методами анализа,
            обычно способен прогнозировать процессы и разрабатывать перспективные программы развития.
        </p>
        <p class="p-main"> Суть работы аналитика полностью зависит от специфики отрасли, поэтому аналитики подразделяются по профилю деятельности: </p>
        </div>
        <div class="state-article">
            <div class="article-content">
                <p class="article1">
                    Аналитик программного обеспечения (также программный аналитик) — специалист-аналитик, планирующий и организующий работу программистов с целью упрощения и оптимизации. 
                    Его должностные обязанности могут включать в себя выбор методологии и среды разработки; создание или выбор фреймворков; принятие решений о том, когда следует воспользоваться готовым программным кодом вместо самостоятельной разработки; написание спецификаций и прочей документации для будущего программного продукта и планирование сроков разработки. 
                    Аналитик должен быть знаком как с предметной областью, так и с процессом разработки.
                    В коммерческой разработке аналитик программного обеспечения является представителем программистов компании, аналогично тому, как заказчик представляет интересы пользователей программного продукта. Взаимодействие программного аналитика и клиента начинается ещё до начала разработки с определения требований к продукту и их анализа.
                </p>
            </div>
            {% load static %}
            <img src= "{% static 'imgs/6022c863cfddb900257174.jpg' %}" width="468" height="324">
        </div>
        <div class="state-article">
            {% load static %}
            <img src= "{% static 'imgs/img.png' %}" width="468" height="324">
            <div class="article-content">
                <p class="article1">Системный аналитик — в широком смысле — специалист по решению сложных организационно-технических проблем, имеющих междисциплинарную природу, использующий принципы общей теории систем и методы системного анализа.
В узком смысле в сфере информационных технологий данный термин используется для обозначения профессиональной роли и профессии, ответственной за анализ потребностей пользователей на предмет возможности их удовлетворения посредством функций соответствующей минформационной системы.
                    Также его называют «постановщик задач». Основным продуктом такого системного аналитика являются организационно-технические решения, оформляемые как техническое задание на систему или программное обеспечение.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
